# --- API Configuration ---
NEXT_PUBLIC_API_URL=http://localhost:8668/api
NEXT_PUBLIC_API_BASE_URL=http://localhost:8668

# --- VSL-to-Vietnamese Translation Model ---
NEXT_PUBLIC_VSL_TRANSLATION_API_URL=https://believable-dream-production-fdca.up.railway.app

# --- VSL Realtime Recognition ---
NEXT_PUBLIC_VSL_RECOGNITION_WS_URL=wss://vsl-recognization-production.up.railway.app/predict/stream

# --- Cloudinary Configuration ---
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
