# --- API Configuration ---
NEXT_PUBLIC_API_URL=http://localhost:8668/api
NEXT_PUBLIC_API_BASE_URL=http://localhost:8668

# --- VSL-to-Vietnamese Translation Model ---
NEXT_PUBLIC_VSL_TRANSLATION_API_URL=http://localhost:8000

# --- Cloudinary Configuration ---
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
