# Dependencies
node_modules/
.pnp
.pnp.*

# Testing
coverage/

# Next.js
.next/
.next/cache
.open-next/
.wrangler/
out/

# Misc
cache/
node_modules/.cache/


# Production
build/
dist/

# Misc
cache/
node_modules/.cache/
.DS_Store
*.pem
*.log

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Project specific
public/uploads/
media/
temp/
